.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number {
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
  background-color: #a60c00;

  color: azure;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.button:hover {
  background-color: #bf3a30;
}

.button:disabled {
  background: #ebebe4;
}

.decoration {
  width: 10px;
  height: 10px;
  margin-right: 10px;

  border-radius: 50%;
  background-color: #7109aa;
}

.wrapper {
  display: flex;
  align-items: center;
}
